In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'A': list('aabbc'), 'B': ['x', 'x', np.nan, 'x', np.nan]})
s = df['B'].copy()

df

   A    B
0  a    x
1  a    x
2  b  NaN
3  b    x
4  c  NaN

In [4]:
s

0      x
1      x
2    NaN
3      x
4    NaN
Name: B, dtype: object

In [5]:
len(df)

5

In [6]:
df.shape[0]

5

In [7]:
len(df.index)

5